@{ /**
       bloco c# estilo o scriptlet do java
       Natural templates > joga a informação para o Controller e após devolve para página.
    */

    ViewData["Title"] = "About";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h5>@ViewData["Fixa"] </h5>

<p>Use this area to provide additional information.</p>
 <address>
        More information <a href="http://google.com">Google</a>

 </address>
